.header-section {
    padding: 14px 10px;
    font-size: 1.6vw;
    font-weight: bold;
}

.header-dotted {
    border: 2px dotted rgb(0, 19, 60);
    border-radius: 5px;
}

@media only screen and (max-width: 770px) {
    .header-section{
        font-size: 5vw;
        /* padding: 0 10px; */
    }
}