.modal-section{
    z-index: 100;
    position: fixed;
    top: 20%;
    left:20%;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    overflow: hidden;
    padding: 10px;
}

.modal-close{
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-section>img{
    width: 60%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.modal-detail{
    color: black;
    height: 80%;
    width: 38%;
    padding: 10px 14px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.modal-detail>p{
    padding: 0 20px 0 0;
    overflow: auto;
    text-align: justify;
}


/* msg-------------- */

.modal-msg-para {
    height: 89%;
    width: 92.5%;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2vw;
    overflow-y: auto ;
}

.modal-msg-para>p{
    margin: 0;
    text-align: justify;
    font-size: 1.35vw;
}

.modal-msg-footer{
    align-self: flex-end;
    padding-right: 1vw;
}

.modal-msg-footer>h3{
    font-size: 1.3vw;
    font-weight: bold;
}

.modal-msg-footer>h6{
    margin: 0;
    font-size: 1vw;
    font-weight: bold;
}