.slide-section {
    margin: .5vw 0 0 0;
    height: 30rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    border-radius: 10px;
    padding: .7vw;
    gap: 1vw;
}

.slide-detail{
    height: 98%;
    width: 39%;
    color: white;
}

.slide-para{
    padding: 4px 10px;
    height: 80%;
    overflow-y: auto;
}

.slide-detail>p{
    font-size: 1.2vw;
}

